<h2 class="page-header">Search Books</h2>
<form action="/books" method="get">
    <div class="form-row"> <!-- title among the whole page -->
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>"> <!-- sending the text within the textfield to routes -->
        </div>
    </div>
    <div class="form-row"> <!-- published after and before in same row -->
         <div class="form-item">
            <label>Published After</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>"> <!-- sending the text within the textfield to routes -->
        </div>
        <div class="form-item">
            <label>Published Before</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>"> <!-- sending the text within the textfield to routes -->
        </div>
    </div>
    <div class="form-row form-row-end"> <!-- submit button on the end of row -->
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    
</form>
<br>
<!-- displaying all the authors sended in the variable authors by routes/authors/index.js -->
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %> ">
            <img src="<%= book.coverImagePath %>" height="150" width="100">
        </a>
    <% }) %>
</div>
